In [4]:
str1=input("enter the string :")
str2=input("enter the string2 :")
sort1=''.join(sorted(str1))
sort2=''.join(sorted(str2))
if sort1==sort2:
    print("anagrams")
else:
    print("not anagrams")

enter the string : silent
enter the string2 : lisent

anagrams

In [6]:
#palindrome or not  in string
str1=input(" enter the string :")
rev=""
for i in str1:
    rev=i+rev
if(rev==str1):
    print("palindrome")
else:
    print("not palindrome")

 enter the string : mani

not palindrome

In [18]:
#palindrome or not  in number
num=int(input("enter the numbre"))
temp=num
rev=0
while num>0:
    rem=num%10
    rev=rev*10+rem
    num=num//10
print(rev)
if temp==rev:
    print("palindrome")
else:
    print("not palindrome")

enter the numbre 101

101
palindrome

In [18]:
#prime or not 
n=int(input("enter the number :"))
prime=False

if n==1 or n==0:
    print("is not prime number")
elif n>1:
    for i in range(2,n,1):
        if (n%i==0):
            prime=True
            break
if prime:
    print(n,"is not prime number")
else:
    print(n,"is prime number")

enter the number : 10

10 is not prime number

In [10]:
#Fibonacci series
num=int(input("enter the number"))
count=0
f=0
s=1
if num==1:
    print(f)
elif num==0:
    print("enter the valid input")
elif num>1:
    while(num>count):
        print(f,end=' ')       
        third=f+s
        f=s
        s=third
        count+=1

enter the number 10

0 1 1 2 3 5 8 13 21 34

In [11]:
num=int(input("enter the number"))
if num%2==0:
    print("even")
else:
    print("odd")

enter the number 10

even

In [12]:
num1=int(input("enter the num1"))
num2=int(input("enter the num2"))
num3=int(input("enter the num3"))
if num1>num2 and num1>num3:
    print(num1,"is larger")
elif num2>num3:
    print(num2,"is larger")
else:
    print(num3,"is larger")

enter the num1 10
enter the num2 40
enter the num3 20

40 is larger

In [13]:
l=[1,4,5,5,6,4,5,3,2,4,7,8]
dic={}
for i in l:
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1
print(dic)

{1: 1, 4: 3, 5: 3, 6: 1, 3: 1, 2: 1, 7: 1, 8: 1}

In [ ]:
mul=int(input("enter the multiplier"))
rang=int(input("enter the range"))
for i in range(1,rang+1,1):
    print(f'{i}X{mul}={i*mul}')

In [6]:
#### amstrong number
number=int(input("enter the number"))
sum1=0
pow1=len(str(number))
temp=number
while temp>0:
    rem=temp%10
    sum1+=rem**pow1
    temp//=10
if number==sum1:
    print("the is amstrong number")
else:
    print("not amstrong")

enter the number 153

the is amstrong number

In [10]:
#remove duplicate in list
l=[1,3,2,3,4,5,6,7,6,5,4]
l2=[]
for i in l:
    if i not in l2:
        l2.append(i)
print(l2)

[1, 3, 2, 4, 5, 6, 7]

In [12]:
#meege sorted of two list
l1=[1,3,3,5,3,6,2]
l2=[5,7,8,9,4,3]
c=sorted(l1+l2)
c

[1, 2, 3, 3, 3, 3, 4, 5, 5, 6, 7, 8, 9]

In [13]:
#check leap year or not
year=int(input("enter the year:"))
if year%400==0 and year%100==0:
    print("its leap year")
elif year%4==0 and year%100!=0:
    print("its leap year")
else:
    print("not leap year")

enter the year: 2004

its leap year

In [16]:
#print comman elemnt in list
l=[1,3,4,5,6,5,6,4]
l2=[1,3,4,5,6,5,6,4]
comn=[]
for i in l:
    if i in l2:
        if i not in comn:
            comn.append(i)
print(comn)

[1, 3, 4, 5, 6]

In [18]:
r=int(input("enter the radius of circle"))
PI=3.142
area=PI*r**2
print(area)

enter the radius of circle 5

78.55

In [19]:
base=int(input("enter the base value"))
exp=int(input("enter the exponent"))
ans=1
for i in range(exp):
    ans*=base
print(ans)

enter the base value 2
enter the exponent 2

4

In [4]:
l=[1,3,4,5,6,7,8,66,77,83]
s=sorted(l)
print("second smallest ",s[-1])
print("second largest ",s[2])

second smallest  83
second largest  4

In [2]:
# postive ,negative or Zero
num=int(input("enter the number"))
if num>0:
    print(num,"number is positive")
elif num<0:
    print(num,"number is negative")
else:
    print(num,"number is Zero")

enter the number 0

0 number is Zero

In [6]:
#sort acceding and decending order
l=[1,3,4,5,6,7,8,66,77,2,1,83]
sort=list(sorted(set(l)))
print("acending oder",sort)
print("decending order",sort[::-1])

acending oder [1, 2, 3, 4, 5, 6, 7, 8, 66, 77, 83]
decending order [83, 77, 66, 8, 7, 6, 5, 4, 3, 2, 1]

In [17]:

l1=[76, 23, 45, 12, 54, 9] 
print("Original List:", l1)
sort=[]
 
# sorting list using nested loops
for i in range(0, len(l1)):
    for j in range(i+1, len(l1)):
        print( l1[i], l1[j])
        if l1[i] >= l1[j]:
            print(l1[i],l1[j])
            l1[i], l1[j] = l1[j],l1[i]
            print( l1[i], l1[j])
            print(l1)
# sorted list
print("Sorted List", l1)
print(sort)

Original List: [76, 23, 45, 12, 54, 9]
76 23
76 23
23 76
[23, 76, 45, 12, 54, 9]
23 45
23 12
23 12
12 23
[12, 76, 45, 23, 54, 9]
12 54
12 9
12 9
9 12
[9, 76, 45, 23, 54, 12]
76 45
76 45
45 76
[9, 45, 76, 23, 54, 12]
45 23
45 23
23 45
[9, 23, 76, 45, 54, 12]
23 54
23 12
23 12
12 23
[9, 12, 76, 45, 54, 23]
76 45
76 45
45 76
[9, 12, 45, 76, 54, 23]
45 54
45 23
45 23
23 45
[9, 12, 23, 76, 54, 45]
76 54
76 54
54 76
[9, 12, 23, 54, 76, 45]
54 45
54 45
45 54
[9, 12, 23, 45, 76, 54]
76 54
76 54
54 76
[9, 12, 23, 45, 54, 76]
Sorted List [9, 12, 23, 45, 54, 76]
[[9, 12, 23, 45, 54, 76]]

In [18]:
#covert celcius to  farenheit  formula =celcius*9/5 + 32
cel=int(input("enter the celcius"))
farenheit=(cel*1.8)+32
print(farenheit)

enter the celcius 32

89.6

In [21]:
#sum of digits
number=int(input("enter the number"))
sum1=0
temp=number
while temp>0:
    rem=temp%10
    sum1+=rem
    temp//=10
print(sum1)

enter the number 22

4